
@{
    ViewBag.Title = "AdminView";
}

<body>
    <h2>Administrator-side</h2>
    <div>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>
   <p>
       @Html.ActionLink("Varelager", "Index", "StoreManager", new { area = "" }, new { @class = "btn btn-success" })
       @Html.ActionLink("Logg ut", "LogoutAction", "Login", new { tom = "" }, new { @class = "btn btn-default" })
    </p>
</body>

