
@{
    ViewBag.Title = "AdminView";
}

<body>
    <h2>Admin side</h2>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>
   <p> @Html.ActionLink("Vare lager", "Index", "StoreManager", new { area = "" }, new { @class = "btn btn-success" })</p>
</body>

