@model List<WebAppH2014.Models.SalesItem>

@{
    ViewBag.Title = "Hjem";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="jumbotron">
        <img id="img-logo" src="~/Resources/Tast1Tur.png" alt="Logo" />
        <p class="lead">Tast-En-Tur er en nettbutikk som strever for å selge de beste og nyeste tastaturene med best mulig service.</p>
        <p class="lead">Både nye og eksisterende brukere kan logge inn eller registrere seg med å trykke på "Logg inn" øverst.</p>
        <p><a href="~/Store" class="btn btn-primary btn-lg">Se utvalg &raquo;</a></p>
    </div>

    <div id="content-row" class="row">
        @{
            var r = new Random();
            int[] used = { -1, -1, -1 };
            for (int i = 0; i < 3; i++)
            {
                var num = -1;
                while (used.Contains(num))
                {
                    num = r.Next(@Model.Count);
                }
                used[i] = num;

                var item = Model.ElementAt(num);
                
                @Html.Partial("SalesItemView", item);
                
            }
        }
    </div>
</body>
</html>