
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
    <title>Joakim's Awesome Keyboard</title>
</head>
<body>
    <div id="content">
        <img id="item-img" src="~/Resources/keyboard.png" alt="Keyboard" />
        <h2>Joakim's Keyboard</h2>
        <p>Keyboardet til Joakim er laget i fast plast og fungerer helt fantastisk. Den veldig snille prisen gjenspeiler Joakims godhet.</p>
        <div id="price-wrap"><h3>230,-</h3></div>
        <div id="img-wrap"><a href="~/Home/"><img id="buy-img" src="~/Resources/button.png" alt="Buy Button" /></a></div>
    </div>
    @Html.ActionLink("Back Home", "Index") <br />
</body>
</html>