
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
    <title></title>
</head>
<body>
    <div id="content">
        <img id="item-img" src="~/Resources/keyboard.png" alt="Keyboard" />
        <h2></h2>
        <p></p>
        <div id="price-wrap"><h3>100,-</h3></div>
        <div id="img-wrap"><a href="~/Home/"><img id="buy-img" src="~/Resources/button.png" alt="Buy Button" /></a></div>
    </div>
    @Html.ActionLink("Tilbake", "Index") <br />
</body>
</html>