<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedIn</title>
</head>
<body>
    <div>
        Only users with AUTHORITEEEEH is allowed here. Welcome!
    </div>
</body>
</html>
