@model IEnumerable<Model.Genre>
<link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
@foreach (var genre in Model)
{
    <li>
        @Html.ActionLink(genre.Name, "Browse", "Store", new { Genre = genre.Name }, new { @class = "sidebar-nav" })
    </li>
}
