@model IEnumerable<WebAppH2014.Models.Genre>
<link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
@foreach (var genre in Model)
{
    <li>
        @Html.ActionLink(genre.Name, "Browse", "Store", new { Genre = genre.Name }, new { @class = "sidebar-nav" })
    </li>
}

<li class="nav-divider"></li>
<div class="nav">@Html.ActionLink("Bruker", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</div>
<li>@{Html.RenderAction("LoginLink", "Login", null);}</li>
<li class="nav-divider"></li>
