@model List<WebAppH2014.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Item.css" />
    <title>Utvalg</title>
</head>
<body>

    <h1>Kategorier</h1>

    <div id="genre">
        @foreach (var genre in Model)
        {
            <div class="panel" id="content">
                <div class="panel-body">
                    <a href=@Url.Action(genre.Name, "Store/Browse", new { genre = genre.Name })>
                        <img id="item-img" src="~/Resources/@(genre.Name).png" />
                    </a>
                </div>
                <div class="panel-footer">
                    <a href=@Url.Action(genre.Name, "Store/Browse", new { genre = genre.Name })>
                        <h2>@genre.Name</h2>
                    </a>
                </div>
            </div>
        }
    </div>
</body>
</html>