body {
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
      display: block;
      width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#content {
    background: #003f7f;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
    width: 30%;
    display: inline-block;
    float: inherit;
}

.body-content {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

h1 {
        font-family: Arial;
        font-weight: bold;
    }


/*Navbar Header*/
@media (min-width: 768px) {
    .navbar-inverse{
        background:-webkit-linear-gradient(top, #005fbf, #003f7f);
        height:55px;
        padding-bottom:0px;
    }

    ul.nav :hover {
        background: -webkit-linear-gradient(top, #007fdf, #005f9f);
    }


    ul.nav li :hover {
        background:none;
        text-decoration:none;
    }

    .nav-item {
        border-left:solid;
        border-width:thin;
        border-color:#aaa;
    }

    .nav-item:first-child{
        border-left:none;
    }

    .nav-item a{
        color:#fff;
    }
        
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-navbar{
        background-color:#f5f3f3; /*#ddd*/
        border-width:thin;
        border-color:#666;
        border-right: thin solid silver;
        height:100vh;
  }

    .sidebar-navbar ul{
        font-size:15px;
  }

    .sidebar-navbar ul.nav li{
       border-bottom:solid;
       border-width:thin;
       border-color:silver;
  }
    #menuHead
    {
       border-bottom:solid;
       border-width:thin;
       border-color:silver;
       background:#ebebef;
    }
   .sidebar-navbar .nav .sidebar-brand{
       font-family:Arial;
       font-weight:bold;
       font-size: 24px;
       padding: 10px;
       color: #444;

  }
    .sidebar-navbar ul.nav .sidebar-nav{
       color: #444;
  }

    .sidebar-navbar ul.nav :hover{
      background-color:#bbb;
      color:#000;
  }

    .sidebar-navbar ul.nav :active{
      background-color:#808080;
  }

    .sidebar-navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

}

/*navlist == navigation in the topbar*/
#navlist
{
	/*float: right;*/
    /*quick fix*/
}

#navlist li
{
	display:inline;
}


/*Styling for the tables (cart and admin)*/
@media (min-width: 768px) {

    table#tableStyle {
        border: 1px solid #000;
        border-collapse: collapse;
        color: #666666;
        min-width: 400px;
        width: 100%;
    }

    tr {
        border: 1px solid #000;
        line-height: 20px;
    }

    th {
        background: #005fbf;
        color: #FFF;
        font-size: 13px;
        text-align: left;
    }

    th, td {
        padding-left: 5px;
    }

    .tsh {
        background: #609ae6;
        color: #FFF;
        font-size: 13px;
        text-align: left;
    }
}


#img-logo-landscape {
    float: left;
    vertical-align: central;
    height: 35px;
    margin: 10px;
    margin-left: 15px;
}

/*Buttons*/
.button 
{
    float: right;
}

.button2
{
    float: left;
}
