@model Model.SalesItem

@{
    ViewBag.Title = "Slett";
}
<h2>Bekreft Sletting</h2>

<p>
    Er du helt sikker på at du vil slette denne varen, 
    <strong>@Model.Name</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Tilbake", "Index")
    </p>

}