@model WebAppH2014.Models.Order

@{
    ViewBag.Title = "Adresse og Betaling";
}
<body>
    <h2>Adresse og Betaling</h2>

    <dl class="dl-horizontal"></dl>
    <br />
    
    @Html.ActionLink("Avbryt", "Index", "Home", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Betal", "Complete", "Checkout", null, new { @class = "btn btn-success" })
    
</body>