
@{
    ViewBag.Title = "Betaling Utført";
}
<h2>Betaling Utført</h2>

<p>Takk for din bestilling! Ditt ordrenummer er: </p>

<p>
    Hva med å se på noen av våre andre keyboards?
    @Html.ActionLink("Se mer", "Index", "Home")
</p>
