@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Vi er virkelig lei oss!<br />
    <pre>@ViewBag.ErrorMessage</pre> <br />
    <a href="javascript:history.go(-1)">Klikk her</a>
    om du vil gå tilbake og prøve igjen.
</p>